div.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: cyan;
    color: blue;
    font-size: x-large;
    /*text-align: left;*/
    z-index: 999;
}

a.head {

    text-decoration: none;
    color: blue;
}

a {
    text-decoration: none;
    color: deepskyblue;
}

body {
    background-color: black;
}

div.default, .content {
    position: relative;
    top: 30px;
    width: 800px;
    margin: 0 auto;
}

p {
    word-break: break-all;
    color: white;
}

i {
    color: darkgrey;
}

* {
    color: white;
    font-family: Arial, sans-serif;
}

pre[class*="language-"] {
    border: 2px solid green;
    border-radius: 10px;
}

h1 {
    color: yellow;
}
