div.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: CornflowerBlue;
    color: blue;
    font-size: x-large;
    /*text-align: left;*/
    z-index: 999;
}

div.quote {
    border: 2px solid gray;
    border-radius: 10px;
}

a.head {
    text-decoration: none;
    color: blue;
}

a {
    text-decoration: none;
    color: deepskyblue;
}

body {
    background-color: black;
}

div.default, .content {
    position: absolute;
    left: 200px;
    top: 30px;
    width: 800px;
    margin: 0 auto;
}

p {
    word-break: break-all;
    color: white;
}

i {
    color: darkgrey;
}

* {
    color: white;
    font-family: Arial, sans-serif;
}

pre[class*="language-"] {
    border: 2px solid green;
    border-radius: 10px;
}

h1 {
    color: yellow;
    counter-reset: h2Counter;
}

h2 {
    color: orange;
    counter-increment: h2Counter;
    counter-reset: h3Counter;
}

h2:before {
    content: counter(h2Counter)'. '
}

h3 {
    color: hotpink;
    counter-increment: h3Counter;
}

h3:before {
    content: counter(h2Counter)'.'counter(h3Counter)'. '
}

table {
    border-collapse: collapse;
    border: 1px solid white;
}

th {
    color: yellow;
}

.baidu:before{
    border-radius: 3px;
    background-color: #2219d4;
    content: "du";
    color: white;
}

.zhihu:before{
    border-radius: 3px;
    background-color: #3274f6;
    content: "知";
    color: white;
}
