#toc {
    position: fixed;
    top: 100px;
    left: 10%;
    width: 200px;
    height: 100%;
    /*padding: 10px;*/
    /*background-color: #f0f0f0;*/
    /*overflow-y: auto;*/
}

#toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#toc li {
    margin: 0;
    padding: 0;
}

#toc a {
    display: block;
    margin-bottom: 5px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}
