#toc {
    position: fixed;
    top: 100px;
    left: 10%;
    width: 220px;
    height: auto;
    border: 2px solid green;
    border-radius: 10px;
}

#toc ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

#toc li {
    margin: 0;
    padding: 0;
}

#toc a {
    display: block;
    margin-bottom: 5px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}
